*.dsp
*.dsw
*.ncb
*.opt
*.plg
*.sln
*dat
*.suo
*.out
*.swp
*.db
*.o
*.a

#cmake generate
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Demo
cmake_install.cmake
math/CMakeFiles/
math/Makefile
math/Makefile
math/cmake_install.cmake

test
test.c

in
out
