*.dsp
*.dsw
*.ncb
*.opt
*.plg
*.sln
*dat
*.suo
*.out
*.swp
*.db

#cmake generate
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Demo
Makefile
cmake_install.cmake
config.h
math/CMakeFiles/
math/Makefile
math/Makefile
math/cmake_install.cmake
*.a

test.c

